@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 100px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 490px) {
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
}